body {
    background-color: rgb(114, 11, 11);
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.happy-birthday {
    color: #dfec82;
    font-family: Verdana, sans-serif;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    background-image: url(lero.jpeg); /* Agrega la imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen en el fondo */
    padding: 250px; /* Agrega un poco de espacio alrededor del texto */

}